.wrapper {
  width: 1024px;
  margin: auto;
  position: relative;
  padding-top: 150px;
}

.all-gray-color .color-modificator {
  color: gray;
}

$color-square: #D8D8D8;
$color-onhover: #D8D8D8;
$color-winner: #fff;
$color-button: #D8D8D8;
$color-bgbutton: #979797;
$color-square-text: #a2a2a2;
$color-border-button: #979797;
