.square {
    width: 153px;
    height: 153px;
    background: var(--color-square);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 96px;
    line-height: 90px;
    font-style: normal;
    text-decoration: none;
    //color: #a2a2a2;
    &:hover {
        background: var(--color-onhover);
        transition: .3s all ease;
    }
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}